[gerrit]
	basePath = git
	canonicalWebUrl = http://GS-HQ10-NE104IC.LGE.NET:8080/
	serverId = 2bd76f45-96ca-49cf-abf7-ee1e9d10be4b
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = test
	javaHome = /usr/lib/jvm/java-11-openjdk-amd64
[index]
	type = lucene
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
	userNameCaseInsensitive = true
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://localhost:8080
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
